<h1 style="font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 24px; margin: 0;">Your username{{#if isMultiple}}s{{/if}}</h1>
<p style="margin: 0; margin-top: 16px;">Hello, we’ve received a request to recover the username of your {{app.title}} account. We found the following username{{#if isMultiple}}s{{/if}} linked to this email address:</p>
<ul>
  {{#each users as |user|}}
  <li><strong>{{user.username}}</strong> ({{user.firstName}} {{user.lastName}})</li>
  {{/each}}
</ul>
<p style="margin: 0; margin-top: 16px;">To login to {{app.title}} with your username now, click on the following link:</p>
<p style="margin: 0; margin-top: 16px; text-align: center;"><a href="{{link}}" style="display: inline-block; color: #fff; background: #d70040; text-transform: uppercase; text-align: center; width: auto; padding: 6px 32px; text-decoration: none; border-radius: 3px;">Login</a></p>
<p style="margin: 0; margin-top: 16px;">If you did not request this email, please contact us.</p>
